<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/supersized.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<script src="../assets/js/scripts.js"></script>
<script src="../assets/js/jquery-1.8.2.min.js" ></script>
<script src="../assets/js/supersized.3.2.7.min.js" ></script>
<script src="../assets/js/supersized-init.js" ></script>
<script src="../layui/layui.js"></script>
<body>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input style="width: 200px; color: black; display: inline-block" type="text" name="title" class="layui-input">
                <button style="width: 50px">查询</button>
            </div>
        </div>
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col width="200">
                <col width="120">
                <col width="120">
                <col width="130">
            </colgroup>
            <thead>
                <tr>
                    <th style="text-align: center">序号</th>
                    <th style="text-align: center">商品名</th>
                    <th style="text-align: center">价格</th>
                    <th style="text-align: center">库存</th>
                    <th style="text-align: center">商品类型编号</th>
                </tr>
            </thead>
        </table>
    </form>

</body>
</html>